{% macro link(title, url) %}
   <a href="{{ url }}">{{ title }}</a>
{% endmacro %}

{% macro ul(items, class, attributes, menu_level) %}
  {% import _self as links_tree %}
  {% if items %}
  <ul class="{{ class }}">
    {% for item in items %}
      <li class="{{ class }}-item {{ item.isActive ? 'isActive' }}" {{ item.attributes }}>
        {{ links_tree.link(item.title, item.url) }}
        {% if item.children %}
          {{ links_tree.ul(item.children, class, attributes, menu_level + 1) }}
        {% endif %}
       </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}
