<!doctype html>
<html class="no-js" lang="{{ locale|lower }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ seo.getTitle() }}</title>
    <meta name="description" content="{{ seo.getDescription() }}">
    <meta name="keywords" lang="{{ locale|lower }}" content="{{ seo.showKeywords() }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="language" content="{{ locale|lower }}">
    <meta name="robots" content="{{ seo.getIndex() }}index, {{ seo.getFollow() }}follow, all">
    <meta name="googlebot" content="{{ seo.getIndex() }}index, {{ seo.getFollow() }}follow, all">
    <meta name="google-site-verification" content="{{ mainPage.element_commun.getValues("code_google_webmaster_tools") }}">
    <meta name="msvalidate.01" content="{{ mainPage.element_commun.getValues("code_bing_webmaster_tools") }}">
    <meta name="generator" content="Solire" />
    <!--[if lt IE 9]>
        <script src="{{ url }}app/front/js/html5.js"></script>
    <![endif]-->

    {% if seo.getAuthor() != '' %}
        <link rel="author" href="https://plus.google.com/{{ seo.getAuthor() }}" title="{{ seo.getAuthorName() }}" type="text/html">
    {% endif %}

    <base href="{{ url }}">

    {% if seo.getUrlCanonical() != '' %}
        <link rel="canonical" href="{{ seo.getUrlCanonical() }}"/>
    {% endif %}

    {% block headCss %}
        {{ css.outputAll() }}
        {{ css.resetLibraries() }}
    {% endblock headCss %}

    {% block headJavascript %}
    {% endblock headJavascript %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

<header class="header">
    {% block header %}
    {% endblock %}
</header>

{% block breadcrumbs %}
{% endblock %}

<div id="main" role="main">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer" id="mainFooter">
    {% block footer %}
        {% if mainPage.element_commun.getValues('publisher') != '' %}
            <a target="_blank" rel="publisher" href="https://plus.google.com/{{ mainPage.element_commun.getValues("publisher") }}">{{ mainPage.element_commun.getValues("publisher_nom") }}</a>
        {% endif %}
    {% endblock %}
</footer>

{% block footerCss %}
    {{ css.outputAll() }}
    {{ css.resetLibraries() }}
{% endblock footerCss %}

<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ javascript.getPath('front/js/jquery/jquery-1.7.min.js') }}"><\/script>')</script>
{{ javascript.outputAll() }}

<script
        type="text/javascript" id="cookiebanner" src="{{ javascript.getPath('front/bower_components/cookie-banner-solire/dist/cookiebanner.min.js') }}"
        data-ask="1"
        data-audience="Acceptez-vous d'être suivi par notre outils de mesure d'audience?"
        data-moreinfo="{{ url }}{{ cookiesPage ? cookiesPage.getMeta('rewriting') ~ '.html' }}"
></script>
{{ mainPage.element_commun.getValues('code_google_analytics') }}
<script type="text/javascript">
    /*
     * On vérifie qu'on a l'autorisation
     */
    if (!window.Cookiebanner.isAllowed('audience')) {
        // Fonction d'effacement des cookies
        function delCookie(name )   {
            path = ";path=" + "/";
            domain = ";domain=" + "." + window.location.hostname;
            var expiration = "Thu, 01-Jan-1970 00:00:01 GMT";
            document.cookie = name + "=" + path + domain + ";expires=" + expiration;
        }

        // Efface tous les types de cookies utilisés par Google Analytics
        var cookieNames = ["__utma","__utmb","__utmc","__utmz","_ga"];
        for (var i=0; i<cookieNames.length; i++) {
            delCookie(cookieNames[i])
        }
    }
</script>
</body>
</html>
