{% import "view/links_tree.html.twig" as links_tree %}
<!doctype html>
<html class="no-js" lang="{# SUF_VERSION|lower #}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ seo.getTitle() }}</title>
    <meta name="description" content="{{ seo.getDescription() }}">
    <meta name="keywords" lang="{# SUF_VERSION|lower #}" content="{{ seo.showKeywords() }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="language" content="{# SUF_VERSION|lower #}">
    <meta name="robots" content="{{ seo.getIndex() }}index, {{ seo.getFollow() }}follow, all">
    <meta name="googlebot" content="{{ seo.getIndex() }}index, {{ seo.getFollow() }}follow, all">
    <meta name="google-site-verification" content="{{ mainPage.element_commun.getValues("code_google_webmaster_tools") }}">
    <meta name="msvalidate.01" content="{{ mainPage.element_commun.getValues("code_bing_webmaster_tools") }}">
    <meta name="generator" content="Solire" />
    {% if seo.getAuthor() != '' %}
        <link rel="author" href="https://plus.google.com/{{ seo.getAuthor() }}" title="{{ seo.getAuthorName() }}" type="text/html">
    {% endif %}

    <base href="{{ url }}" />

    {% if seo.getUrlCanonical() != '' %}
        <link rel="canonical" href="{{ seo.getUrlCanonical() }}"/>
    {% endif %}

    {{ css.outputAll() }}
</head>
<body role="document"  itemscope itemtype="http://schema.org/WebPage">

<header role="banner">
    {% set menu = [
        {title: 'Rub 1', children: [{title: 'Rub 1 - 1'},{title: 'Rub 1 - 2'}]},
        {title: 'Rub 2'},
        {title: 'Rub 3', children: [{title: 'Rub 3 - 1'},{title: 'Rub 3 - 2'}]}
    ]
    %}
    {{ links_tree.ul(menu, attributes, 0) }}
</header>

<div class="ariane" itemprop="breadcrumb">{#{% include 'view/breadcrumbs.html.twig' %}#}</div>

{% block content %}
{% endblock %}

{{ javascript.outputAll() }}

<script type="text/javascript">
    {{ mainPage.element_commun.getValues('code_google_analytics') }}
</script>
</body>
</html>